{% load staticfiles i18n %}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

    <title>{% block title %}erebbit{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {% block head %}<link href="{% static 'css/cover.css' %}" rel="stylesheet">{% endblock %}
  </head>

  <body>
    {% block body %}
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="{% url 'home' %}">&lt;erebbit/&gt;</a></h3>
              <nav class="nav nav-masthead">
                {% if user.is_authenticated %}
                  <a class="nav-link" href="{% url 'about' %}">About us</a>
                  <a class="nav-link" href="{% url 'profile' user.username %}">{{ user.profile.get_screen_name }}</a>
                {% else %}
                <a class="nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                <a class="nav-link" href="{% url 'about' %}">About us</a>
                {% endif %}
              </nav>
            </div>
          </header>
        </div>

          <div class="container">
          <main role="main" class="inner cover">
            <div class="row">
              <div class="mx-0 text-justify">
                <h1 class="cover-heading text-center">About Us</h1>
                <p class="lead"><h1 class="masthead-brand"><a href="{% url 'home' %}">&lt;erebbit/&gt;</a></h1> is a Socially-Oriented Platform to help developers connect with other developers and share what they know. <br><br> The main idea when we started building this site was to build a platform for programmers, so in a sense a social platform for programmers. So developrs could socialize with other developers and collaborate with them. <br><br> We are working really hard to deliver something that would help others improve their social life. We are only two people running &amp; managing erebbit right now but soon we will grow. We are concerned so much about our website's users experience. Till then ... Peace. </p>
              </div>
            </div>
          </main>
        </div>

        <div class="cover-container">
          <footer class="mastfoot">
            <div class="inner" style="padding: 0;">
              <p>&lt;erebbit/&gt; &copy; 2017. All rights reserved.<br><a href="{% url 'about' %}">about</a> | <a href="{% url 'terms' %}">terms of use</a> | <a href="{% url 'privacy' %}">privacy policy</a></p>
            </div>
          </footer>

        </div>

      </div>

    </div>
    {% endblock body %}

  {% block js %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  {% endblock %}
  </body>
</html>
