{% extends 'dark_base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Reset password | erebbit{% endblock %}

{% block head %}
  <link href="{% static 'css/cover.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
    <div class="container">
      <form method="post">
        <h2>{% trans 'Reset password' %}</h2>
        {% csrf_token %}
          <label for="id_email" class="sr-only">{% trans 'Email address' %}</label>
          <input type="email" name="email" maxlength="254" required id="id_email" class="form-control" placeholder="Enter your email address"/>
          <br>
          <button type="submit" class="btn btn-lg btn-primary btn-block"><b>{% trans 'Send me reset password link' %}</b></button>
      </form>
    </div> <!-- /container -->
{% endblock %}
