{% extends 'dark_base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Reset password | erebbit{% endblock %}

{% block head %}
  <link href="{% static 'css/cover.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
    <div class="container">
      <form method="post">
        <h2>{% trans 'Set new password' %}</h2>
        {% csrf_token %}
        <label for="id_new_password1" class="sr-only">New password:</label>
        <input type="password" name="new_password1" required id="id_new_password1" class="form-control" placeholder="Enter new password"/>
        <br>
        <label for="id_new_password2"  class="sr-only">Verify password:</label>
        <input type="password" name="new_password2" required id="id_new_password2" class="form-control" placeholder="Verify password"/>
        <br>
        <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans 'Reset password' %}</button>
      </form>
    </div> <!-- /container -->
{% endblock %}
