{% extends 'dark_base.html' %}
{% load staticfiles %}
{% load i18n %}


{% block title %}Password reset sent | erebbit{% endblock %}

{% block head %}
  <link href="{% static 'css/cover.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
    <div class="container">

        <h2>{% trans 'Password reset sent' %}</h2>
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

    </div> <!-- /container -->
{% endblock %}
