.users {
	margin-top: 2em;
}
.users .panel-heading img {
	margin-right: .6em;
}
.users .panel-heading:hover {
	background-color: #e6ecf0;
}
div#fellow:hover {
	background-color: #f5f8fa;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
